* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}



.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.center2 {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

header {

    background-color: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .left__menu {
    margin-left: 231px;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 41px
}

header .right__menu {
    margin-right: 231px;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 33px
}

.middle {
    height: 764px;
    background-color: #F1E4E6;
    display: flex;
}

/* .img__man {
    width: 50%;
}

.right__block {
    width: 50%;
} */

.middle .right__block .mini__block {
    display: flex;
    gap: 16px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.middle .right__block {
    margin-left: 64px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.middle .right__block h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 57px;
    font-family: 'Lato', sans-serif;

}

.middle .right__block .color__text {
    display: flex;
    gap: 9px;
}

.middle .right__block h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-family: 'Lato', sans-serif;

}

.middle .right__block h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    font-family: 'Lato', sans-serif;
    color: #f16d7f;
}

.on__sale {
    margin-top: 65px;
}

.on__sale .three {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;

}

.on__sale .bottom {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-bottom: 96px;
}


footer .colums {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: max-content;
    grid-column-start: 1;
    grid-column-end: 3;
    gap: 30px;

}

footer h1 {
    margin-top: 6px;
    font-size: 34px;
    font-weight: 600;
    line-height: 36px;
    font-family: 'Lato', sans-serif;
}

footer h2 {
    margin-top: 6px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    color: #9F9F9F;
}

footer .title {
    justify-content: center;
    text-align: center;

}

footer .colums {
    margin-top: 47px;
}

footer .colums h4 {
    margin-top: 24px;
    margin-bottom: 16px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    font-family: 'Lato', sans-serif;

}

footer .colums p {
    margin-bottom: 16px;
    padding-left: 16px;
    font-size: 17px;
    font-weight: 300;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    color: #5D5D5D;
}

footer .colums h2 {
    margin-bottom: 24px;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    color: #F16D7F;
}

footer .color__fon {
    background-color: #F7E4E2;
    height: 420px;
    padding-left: 108px;
    padding-top: 9px;
}


footer .bot_button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 60px;
}

footer .bot_button .button {
    border: 1px solid #f79ea9;
    height: 48px;
    width: 212px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

footer .bot_button .button h1 {

    font-size: 16px;
    font-weight: 400;
    color: #f79ea9;
}

.foot__head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.block__img {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 103px;
    margin-bottom: 104px;
    color: #FBFBFB;

}

.name__img {
    margin-top: 28px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.block__par {
    width: 360px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Lato', sans-serif;
    text-align: center;

}

.background__img {
    height: 448px;
    background-image: url(img/background.jpg);
    background-size: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 223px;
}

.under_foo_girl {
    width: 359px;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.any__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.any__text .SUBSCRIBE {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
}

.any__text .NEWLETTER {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}


.email {
    height: 50px;
    width: 236px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding-left: 22px;
    background-color: #E1E1E1;

}



.Subs__butt .placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    font-family: 'Lato', sans-serif;
    width: 557px;
    display: flex;
    flex-direction: column;
}

.Subs__butt button {
    background-color: #F16D7F;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    width: 100px;
    height: 50px;
    margin-top: 32px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}

.bottom__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    background-color: #222224;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    color: #FBFBFB;

}

.bottom__info .Brand {
    margin-left: 235px;

}

.logos {
    margin-right: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 7.5px;
}

.logo {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

@media (max-width:768px) {

    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .center2 {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    header .left__menu {
        margin-left: 32px;
    }

    header .right__menu {
        margin-right: 41px;
        gap: 33px
    }

    .middle {
        height: 368px;
    }

    .middle .img__man img {
        width: 386px;
        min-width: 386px;
    }

    .middle .right__block {
        margin-left: 39px;
    }

    .middle .right__block .mini__block h1 {
        font-size: 44px;
    }

    .middle .right__block .mini__block .color__text {
        gap: 4px;
    }

    .middle .right__block .mini__block .color__text h3 {
        font-size: 24px;
    }

    .middle .right__block .mini__block .color__text h2 {
        font-size: 24px;
    }

    .on__sale .three {
        gap: 20px;
    }

    .on__sale .three {
        margin-bottom: 20px;
    }

    .on__sale .three img {
        width: 231px;
        min-width: 231px;

    }

    .on__sale .bottom img {
        width: 734px;
        min-width: 734px;
    }

    footer .colums {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: max-content;
        grid-column-start: 1;
        grid-column-end: 2;
        gap: 16px;

    }

    .foot__head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 21px;
    }

    .foot__head .block__img {
        margin-top: 24px;
        margin-bottom: 24px;

    }

    .background__img {
        height: 614px;
        background-image: url(img/back_tab.png);
        background-size: 100vw;
        display: flex;
        align-content: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
    }

    .bottom__info .Brand {
        margin-left: 32px;
        width: 251px;
    }

    .logos {
        margin-right: 32px;
        gap: 7.5px;
    }

}


@media (max-width:375px) {

    .center {
        padding-left: calc(50% - 187px);
        padding-right: calc(50% - 187px);
    }

    .center2 {
        padding-left: calc(50% - 187px);
        padding-right: calc(50% - 187px);
    }

    header .left__menu {
        margin-left: 16px;
    }

    header {
        display: flex;
    }

    header .right__menu {
        margin-right: 16px;
    }

    header .right__menu .mobile {
        display: none;
    }

    .middle {
        height: 368px;
    }

    .middle .img__man img {
        display: none;
    }

    .middle .right__block {
        margin-left: 56px;
        gap: 15px
    }

    .middle .right__block .mini__block h1 {
        font-size: 38px;
    }

    .middle .right__block .mini__block .color__text {
        gap: 4px;
    }

    .middle .right__block .mini__block .color__text h3 {
        font-size: 20px;
    }

    .middle .right__block .mini__block .color__text h2 {
        font-size: 20px;
    }

    .on__sale .three {
        gap: 20px;
    }

    .on__sale {
        margin-top: 64px;

    }

    .on__sale .three {
        margin-top: 64px;
        margin-bottom: 20px;
    }

    .on__sale .three img {
        width: 343px;
        min-width: 343px;

    }

    .on__sale .bottom img {
        width: 343px;
        min-width: 343px;
    }

    footer .colums {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 360px);
        grid-template-rows: max-content;
        grid-column-start: 1;
        grid-column-end: 1;
        gap: 16px;

    }

    .background__img {
        height: 550px;
        background-image: url(img/photo_subscribe.png);
        background-size: 100%;
        display: flex;
        align-content: stretch;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 0;
    }

    .bottom__info {
        padding-bottom: 9px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        flex-direction: column-reverse;
        height: 143px;
    }

    .logos {
        margin-top: 43px;
        margin-bottom: 40px;
        margin-left: 16px;
        margin-right: 16px;
        gap: 7.5px;
    }
}